@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Marissa!</h1>

By viewing this page you are agreeing that Colton does in fact love you more today and there is nothing you can do about it.

<SurveyPrompt Title="How is Blazor working for you?" />
